{% extends 'index.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='order.css') }}">
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form method="POST">
        <input type="email" name="email" placeholder="Электронная почта" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <a href="{{ url_for('login') }}">Вход</a>
</body>
{% endblock %}